@use './_defaults.scss';  // Resets styling on elements and sets up defaults.
@use './_interfaces.scss';  // Nav, Footer, etc.
@use './_designSystem.scss';  // Custom styles for my design system.
@use './_hero.scss';
@use './_talent.scss';

body {
  // Colors
  --clr-youngnight: #232323;
  --clr-zeuspalace: #3c343d;
  --clr-valhalla: #2a2b41;
  --clr-viennaroast: #330022;
  --clr-wildiris: #2f2f4a;
  --clr-void: #050d25;
  --clr-jet: #3c343d;
  --clr-bone: #e0ddcf;
  --clr-isabelline: #f7f0ea;
  --clr-tomato: #ff4a49;
  --clr-blackdot: linear-gradient(
    135deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%
  );
  // Fonts
  --ff-primary: 'Mona Sans', sans-serif;
  // Misc
  --transition: 0.3s;

  // Theme setup
  &[data-theme='light'] {
    --clr-background: var(--clr-bone);
    --clr-foreground: var(--clr-jet);
    --clr-accent: var(--clr-tomato);
    --clr-focus: var(--clr-isabelline);
  }
  &[data-theme='dark'] {
    --clr-background: var(--clr-youngnight);
    --clr-foreground: var(--clr-bone);
    --clr-accent: var(--clr-tomato);
    --clr-focus: var(--clr-isabelline);
  }
  &[data-theme='funny'] {
    --clr-gradient: 1;
    --clr-background: var(--clr-youngnight);
    --clr-foreground: var(--clr-bone);
    --clr-accent: var(--clr-tomato);
    --clr-focus: var(--clr-isabelline);
  }
  &:not([data-theme='funny']) {
    --clr-gradient: 0;
  }
  // Gradient background
  &::before {
    content: '';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--clr-blackdot);
    transition: var(--transition);
    opacity: var(--clr-gradient);
  }

  // Page styles setup
  font-family: var(--ff-primary);
  font-weight: 300;
  color: var(--clr-foreground);
  background: var(--clr-background);

  transition: var(--transition);

  // Hiding the content of the page while page is loading.
  &[data-loading='true'] main {  // data-loading is set to true in JS.
    opacity: 0;
  }
}
